<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Tambah Barang</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">

    <link href="/static/css/all.css" rel="stylesheet"> <!--load all styles -->
  </head>
  
  <body>

<div class="container">
  <a href="/" class="mt-2">Back</a>
  <p class="display-6">Tambah Barang</p>
  <hr>
  <form id="add-items" action="#">
    <div class="mb-3">
      <label for="id-barang" class="form-label">ID Barang</label>
      <input type="number" class="form-control" id="id-barang" name="id-barang" required>
      <div class="invalid-feedback">ID barang telah tersedia</div>
    </div>
    <div class="mb-3"> 
      <label for="nama" class="form-label">Nama Barang</label>
      <input type="text" class="form-control" id="nama" name="nama" required>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Kategori</label>
      <select class="form-select mb-3" id="category" name="category">
        {% for x in datas %}
        <option>{{x}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="stock" class="form-label">Stok</label>
      <input type="number" class="form-control" id="stock" name="stock" required>
    </div>
    <div class="mb-3">
      <label for="beli" class="form-label">Harga Beli</label>
      <input type="number" class="form-control" id="beli" name="beli" required>
    </div>
    <div class="mb-3">
      <label for="jual" class="form-label">Harga Jual</label>
      <input type="number" class="form-control" id="jual" name="jual" required>
    </div>
    <div class="mb-3">
      <label for="discount" class="form-label">Diskon Harga</label>
      <input type="number" class="form-control" id="discount" name="discount" required>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit" id="tambah">Tambah</button>
    </div>
  </form>
</div>


    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main2.js"></script>
  </body>

</html>
